{% extends "layout.html" %}
{% block head %}
    <title>Votre ingénierie de formation ?</title>
{% endblock %}
{% block body %}
    <div align="center">
        <h1>Avez-vous un référentiel d'évaluation / certification ?</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.modalites_evaluation.label }}<br>
                {{ form.modalites_evaluation }}<br>
                {% for error in form.modalites_evaluation.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.criteres_evaluation.label }}<br>
                {{ form.criteres_evaluation }}<br>
                {% for error in form.criteres_evaluation.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <hr>
            {% for evaluateur in form.evaluateurs %}
                {{ evaluateur.label }}
                <br>
                {{ evaluateur }}
                <hr>
            {% endfor %}
            {% for error in form.evaluateurs.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}