{% extends "layout.html" %}
{% block head %}
    <title>Parlez-nous de vous ?</title>
{% endblock %}
{% block body %}
    <div align="center">
        <h1>Faites vous partie d'un réseau de certificateurs ou d'organismes ?</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.reseau }}
                {% for error in form.reseau.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}