{% extends 'layout.html' %}

{% block head %}
    <title>DiagCertif</title>
{% endblock %}
{% block body %}
    <h1>Propos liminaire</h1>
    <br>
    <p class="lead">La démarche induite par cet outil vise à vérifier la faisabilité d’une demande d’enregistrement au RS ou RNCP. Il vous suggère les différents éléments et documents à prendre en compte avant d’envisager un dépôt dans l’un ou l’autre des répertoires Nationaux.
La fiabilité du résultat de cette étude suppose que ce formulaire soit rempli soigneusement et sincèrement en vous appuyant sur les définitions associées aux différents items qu’il comporte.</p>
{% endblock %}